*{
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    background-color: #f5f0e6;
    font-family: "Outfit", serif;
    overflow-x: hidden;
}


nav{
    background-color:  #e2fbce;
    height: 62px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 35;
    background: linear-gradient(-45deg, #9ecfaf, #e2fbce, #9ecfaf, #e2fbce, #9ecfaf, #e2fbce, #9ecfaf, #e2fbce);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

nav ul{
    text-align: center;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1.5px;
    left: 20px;
    top: 20px;
}

nav ul a{
    text-decoration: none;
    width: 6.06rem;
    color:#076653;
    float: left;
    margin:0px 27px;
   
}

nav ul li:hover{
    color:#fafff6;
    transition: 0.2s;
    text-shadow: 0px 0px 5px #076653;
    font-weight: bold;
}



.welcome{
    width: 100%;
    height: 930px;
    margin-top: 59px;
    background: linear-gradient(0deg, #076653 47%, #0c342c 100%);
    position: relative;
    text-align: center;
}


.welcome h2{
    top:330px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "SOFT" 50,
    "WONK" 4;
    font-size: 10rem;
    color: #e2fbce;
    text-align: center;
    -webkit-animation: fadein 1s;
    transition: 1s;
   
}

.welcome p{
    top:280px;
    font-family: "Moirai One", serif;
    font-weight: 400;
    font-size: 2.6rem;
    color: #e2fbce;
    text-align: center;
    -webkit-animation: fadein 1s;
    transition: 1s;
}

.welcome h2:hover{
    text-shadow: 0px 0px 10px #ffffff;
    color: white;
}

.welcome p:hover{
    font-size: 45px;
}


.contenido{
    position:relative;
    width: 100%;
    height: 550px;
    background-color: #0c342c;
    text-align: center;
}

.contenido h1{
    font-size: 3rem;
    color: #e2fbce;
    line-height: 120px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "SOFT" 50,
    "WONK" 4;
}

.contenido li{
    list-style: none;
    text-decoration: none;
}


.contenido a{
    text-align: center;
    height: 120px;
    width: 30%;
    text-decoration: none;
    list-style: none;
    background-color: #076653;
    box-shadow: inset 3px 3px 5px #000000;
    color:white;
    display:inline-block;
    border-radius: 10PX;
    line-height: 120px;
    font-size: 20px;
    margin: 5px;
    letter-spacing: 3px;
    transition: 0.3s;
}

.contenido a:hover{
    background-color: rgb(230, 255, 244);
    color: #0c342c;
    opacity: 80%;
    font-weight: bolder;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}


.contacte{
    height: 240px;
    width: 100%;
    position:relative;
    bottom: 0;
    text-align: center;
    background: linear-gradient(180deg, #076653 47%, #217e6b 100%);
    color:white;
    margin: 0 auto;
}

.contacte p{
    line-height: 120px;
}

.contacte h4{
    line-height: 10px;
    font-weight: 400;
    font-size: 0.9rem;
    word-spacing: 5px;
    text-align: just;
}


.contacte img{
    height: 40px;
    width: 40px;
    top:-20px;
    text-align: center;
    margin: 0 auto;
}



@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@media screen and (max-width:480px){
  
    .welcome h2{
        top: 230px;
        font-size: 6rem;
    }

    .welcome p{
        font-size: 1.8rem;
        line-height: 5.3rem;
        top: 190px;
    }

    .welcome p:hover{
        font-size: 2rem;
        line-height: 5.8rem;
    }

    nav{
        height:45px;
    }

    .welcome{
        margin-top: 45px;
        height:600px;
    }

    nav ul a{
        font-size: 0.8rem;
        width: 4rem;
        margin:0px 15px;
        text-align: center;
        line-height: 0.3rem;
    }

    .contenido{
        height:1320px;
    }

    .contenido li{
        font-size:16px;
        text-align: center;
        left: 3px;
    }

    .contenido a{
        width: 80%;
    }

    .contenido h1 {
        font-size: 2.4rem;
        color: #e2fbce;
        line-height: 71px;
}


@media screen and (min-width:480px) and (max-width:1279px){
    
    .welcome h2{
        font-size: 8rem;
    }

    .welcome p{
        font-size: 2.2rem;
        line-height: 5rem;
    }

    .welcome p:hover{
        font-size: 2.5rem;
        line-height: 5rem;
    }

    nav ul a{
        width: 6.1rem;
        margin:0px 13px;
        text-align: center;
    }

    .contenido{
        height:790px;
    }

    .contenido a{
        width:30%;
    }
}
@media screen and (min-width:1280px){
    
    .welcome h2{
        font-size: 10rem;
    }

    .welcome p{
        font-size: 2.6rem;
    }

}

}

